<!--<input type="text" class="form-control" placeholder="Search" [(ngModel)]="querySearch" (input)="search($event)">-->


<table matSort (matSortChange)="sortData($event)">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Which country are you looking for?">
    <button type="submit" class="searchButton" name="search-button">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <tr>
    <th mat-sort-header="Country">
      Country
    </th>
    <th mat-sort-header="NewConfirmed">
      New Confirmed
    </th>
    <th mat-sort-header="TotalConfirmed">
      Total Confirmed
    </th>
    <th mat-sort-header="NewDeaths">
      New Deaths
    </th>
    <th mat-sort-header="TotalDeaths">
      Total Deaths
    </th>
    <th mat-sort-header="NewRecovered">
      New Recovered
    </th>
    <th mat-sort-header="TotalRecovered">
      Total Recovered

    </th>
  </tr>
  <ng-container *ngIf="countriesData && countriesData.length>0">
    <tr *ngFor="let rowData of countriesData" class="row-data">
      <td [style.text-align]="'left'" style="display: flex; align-items: center;"><img
        src="https://www.countryflags.io/{{rowData.CountryCode}}/flat/16.png" style="margin-right: 4px"
        alt="Country's Flag">{{rowData.Country}}</td>
      <td [style.text-align]="'right'">{{rowData.NewConfirmed | number: "0.0"}}</td>
      <td
        [style.text-align]="'right'">{{rowData.TotalConfirmed | number: "0.0"}}</td>
      <td [style.text-align]="'right'">{{rowData.NewDeaths | number: "0.0"}}</td>
      <td [style.text-align]="'right'">{{rowData.TotalDeaths | number: "0.0"}}</td>
      <td [style.text-align]="'right'">{{rowData.NewRecovered | number: "0.0"}}</td>
      <td [style.text-align]="'right'">{{rowData.TotalRecovered | number: "0.0"}}</td>
    </tr>
  </ng-container>

</table>

