$accentColor: #0c5d7d;

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  overflow-x: scroll;
  margin: 10px auto;
  width: calc(100% - 40px)
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.row-data td {
  padding: 15px 10px
}

.search {
  width: 30%;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.searchTerm {
  border: 3px solid lighten($accentColor, 20%);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: $accentColor;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid lighten($accentColor, 20%);
  background: lighten($accentColor, 30%);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
